.git/
.svn/
.hg/
.cvs/
_*

debug
DEBUG
.debug

pxnloader.php
.htdb*
config.php
public/static/bootstrap
public/static/jquery
public/static/bootswatch
data/
error_log
log/
logs/
*.log
*.err

tmp/
temp/
cache/
.cache/
.*_cache/
.twig_cache/
.backups/
*.lock
!composer.lock

bin/
libs/
ext/
target/
vendor/
coverage/
rpmbuild/
out/
build/
Makefile
Makefile.fragments
Makefile.objects
.externalToolBuilders/

composer.phar
auth.json

.classpath
.project
.buildpath
.gradle/
.settings/

*.class
*.iml
*.idea
*.jar
*.gz
*.tar
*.tgz
*.zip
*.rar
*.rpm
*.o
*.a
*.obj
*.dll
*.deb
*.apk
*.war
*.ear
*.exe
*.hex
*.db
*.out
*.output
*.swp
.*.swp
*~
