**/.gradle/
# resources/
bin/
target/
rpmbuild-root/
out/
build/

.classpath
.project
.git/
.settings/
/plugins

*.class
*.iml
*.idea
*.jar
*.rpm
*.war
*.ear
*.zip
*.exe
*.lock
*.out
*.swp
.*.swp
*~

