.git/

debug
DEBUG
.debug
error_log

pxnloader.php
.htdb*
config.php
public/static/bootstrap
public/static/jquery
data/

.cache/
.*_cache/
.backups/
*.lock

bin/
target/
vendor/
coverage/
rpmbuild-root/
out/
build/

composer.phar
auth.json

.classpath
.project
.buildpath
.gradle/
.settings/

*.class
*.iml
*.idea
*.jar
*.rpm
*.deb
*.apk
*.war
*.ear
*.zip
*.exe
*.out
*.swp
.*.swp
*~
